@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

.container {
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.searchBox {
  font-family: "Tilt Neon", cursive;
  color: #004c99;
  letter-spacing: 1px;
  width: 200px;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 50px;
  margin-right: 5px;
  border: 3px solid white;
  /* margin-bottom: 50px; */
}

.searchBox::placeholder {
  color: #00cccc;
  font-weight: 100;
  letter-spacing: 0;
}

.searchBox:focus {
  outline: none;
  border-color: #e5ffcc;
  background-color: #00cccc;
}

.searchBtn {
  font-family: inherit;
  background-color: #00cccc;
  border: 2px solid white;
  color: #0000cc;
  padding: 5px;
  border-radius: 10px;
  height: 80%;
}

.searchBtn:hover {
  cursor: pointer;
  color: #ffff33;
}

.searchBtn:active {
  transform: scale(0.95);
  border-color: lightcyan;
}

.clear {
  margin-bottom: 15px;
}

.clearContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.clearBtn {
  font-size: 15px;
  background-color: #00cccc;
  color: red;
  border-radius: 10%;
}

.clearBtn:hover {
  cursor: pointer;
  background-color: #ffcc99;
}

.clearBtn:active {
  transform: scale(0.9);
}

.clearText {
  font-size: 10px;
  color: #ff9999;
  opacity: 0.9;
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.spinner {
  color: #00ffff;
  font-size: 12rem;
  animation: spin infinite 7s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.promptText {
  text-decoration: underline;
  text-align: center;
  font-size: 15px;
  color: #4b0082;
}

.pageContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
