@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

.alert {
  font-family: "Itim", cursive;
  font-size: 15px;
  position: fixed;
  top: 10px;
  left: 50%;
  z-index: 11;
  text-align: center;
  transform: translateX(-50%);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0s;
}

.error {
  background-color: #ff4500;
  padding: 2px 7px;
  border-radius: 3%;
  box-shadow: 1px 1px 5px rgba(165, 42, 42, 0.8);
}

.show {
  transform: translate(-50%, 20px);
  opacity: 1;
}
