@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.spinnerContainer {
  display: flex;
  justify-content: center;
}

.spinner {
  color: #00ffff;
  font-size: 10rem;
  animation: spin infinite 5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profileContainer {
  display: flex;
  word-break: break-all;
  background-color: antiquewhite;
}

/* Avatar */
.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}

.avatar {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 50%;
  border: 3px solid black;
  transition: filter 0.3s ease-out;
}

.avatar:hover {
  filter: grayscale(50%) blur(2px);
}

figcaption {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #888;
}

.overlayContainer {
  position: absolute;
  width: 80%;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: orange;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

.avatarContainer img:hover ~ .overlayContainer,
.overlayContainer:hover {
  pointer-events: auto;
  opacity: 1;
}

.twitterContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: black;
}

.twitterContainer a {
  color: inherit;
}

.twitterIcon {
  margin-right: 3px;
}

.twitter,
.blog {
  font-size: 12px;
}

.noTwitter,
.noBlog {
  font-size: 12px;
}

.blogContainer {
  display: flex;
  align-items: center;
}

.blogIcon {
  margin-right: 3px;
}

/* Profile Info */
.profileInfo {
  display: flex;
  flex-direction: column;
}

/* Name */
.nameContainer {
  margin-bottom: 5px;
}

.name {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
}

.login {
  font-family: "Roboto Slab", serif;
  font-size: 12px;
}

/* Email */
.emailContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.emailIcon {
  margin-right: 3px;
}

.emailAddress {
  font-size: 12px;
}

.noEmail {
  font-size: 12px;
}

/* Github Link */
.gitContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: black;
}

.gitContainer a {
  color: inherit;
}

.gitContainer a:hover {
}

.gitIcon {
  margin-right: 3px;
}

.gitText {
  font-size: 12px;
}

/* About Me */
.aboutMe {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.bio {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  word-break: break-word;
  padding: 0 10px;
}

.noBio {
  font-size: 12px;
  padding: 0 10px;
}
