@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/* Loading Spinner */
.spinnerContainer {
  display: flex;
  justify-content: center;
}

.spinner {
  color: #00ffff;
  font-size: 10rem;
  animation: spin infinite 5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Contaienr */
.container {
  font-family: "Roboto Slab", serif;
}

/* Profile Container */
.profileContainer {
  display: flex;
  gap: 15px;
  word-break: break-all;
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #00cccc;
  box-shadow: 2px 2px 10px rgba(139, 0, 139, 0.3);
}

/* Avatar */
.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}

.avatar {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 50%;
  border: 3px solid black;
  box-shadow: 1px 1px 10px rgba(135, 206, 250, 0.8);
  transition: filter 0.3s ease-out;
}

.avatar:hover {
  filter: grayscale(50%) blur(1px);
}

figcaption {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #888;
}

.overlayContainer {
  position: absolute;
  width: 80%;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 5px;
  border-radius: 3px;
  background-color: rgba(255, 165, 0, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

.avatarContainer img:hover ~ .overlayContainer,
.overlayContainer:hover {
  pointer-events: auto;
  opacity: 1;
}

.overlayContainer:hover {
  pointer-events: auto;
  opacity: 1;
}

.twitterContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: black;
}

.twitterContainer a {
  color: inherit;
}

.twitterContainer a:hover {
  color: #0000cd;
}

.twitterContainer a:active {
  transform: scale(0.95);
}

.twitterIcon {
  margin-right: 3px;
  color: rgb(29, 161, 242);
}

.twitter,
.blog {
  font-size: 12px;
}

.noTwitter,
.noBlog {
  font-size: 12px;
}

.blogContainer {
  display: flex;
  align-items: center;
}

.blogIcon {
  margin-right: 3px;
  color: #000080;
}

/* Profile Info */
.profileInfo {
  display: flex;
  flex-direction: column;
}

/* Name */
.nameContainer {
  margin-bottom: 7px;
}

.name {
  font-family: "Roboto", sans-serif;
  color: #d2691e;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  font-size: 20px;
  border-radius: 3px;
  padding: 2px 7px;
  box-shadow: 0 1px 6px rgba(210, 105, 30, 0.3);
  margin-right: 5px;
}

.login {
  font-size: 12px;
  color: #f4a460;
}

/* Email */
.emailContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.emailIcon {
  margin-right: 3px;
  color: #6495ed;
}

.emailAddress {
  font-size: 12px;
}

.noEmail {
  font-size: 12px;
}

/* Github Link */
.gitContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: black;
}

.gitContainer a {
  color: inherit;
}

.gitContainer a:hover {
  color: #cd853f;
}

.gitContainer a:active {
  transform: scale(0.95);
}

.gitIcon {
  margin-right: 3px;
  color: #404040;
}

.gitText {
  font-size: 12px;
}

/* About Me */
.aboutMe {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.bio {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  word-break: break-word;
  padding: 0 10px;
}

.noBio {
  font-size: 12px;
  padding: 0 10px;
}
